*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    line-height: 1.3;
}
html, body{
    height: 100%;
}

.layout{
   min-height: 100%; 
}
.container{
    width: 80%;
    margin: 4rem auto;
}

footer{
    height: 200px;
    background: yellow;
    width: 100%;
}


%flex_sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}


$secondary_color :#0F1C49;
$light_text_color:#878DA4;


@media (max-width:650px){
    .container{
        width: 98%;
        margin: 4rem auto;
    }
}