.footer{
    background:#0E418A;
    height: auto;
    &__content{
        padding: 3.5rem 0;
        @extend %flex_sb;
        align-items: start;
        border-bottom: 1px solid $light_text_color;
        &-left{
            flex: 1;
            svg{
                display: block;
                fill: #fff;
                width: 20px;
                height: 20px;
            }

            .address{
                address{
                    padding-bottom: 2rem;
                   .icon{
                       display: inline-block;
                       margin-right: 1rem;
                   }

                   .address__text{
                       color: $light_text_color;
                   }
               }

               .phone__number{
                padding-bottom:2rem;   
                .icon{
                    display: inline-block;
                    margin-right: 1rem;
                   }

                   .contact__text{
                    color: $light_text_color;
                   }
               }

               .date_time{
                   .icon{
                        display: inline-block;
                        margin-right: 1rem;
                   }
                   .date__text{
                    color: $light_text_color;   
                   }
               }
            }
        }


        &-right{
            flex:1;
          @extend %flex_sb;
          align-items: start;

          .quick__link, .department, .other{
              .head{
                  color: #fff;
                    p{
                        font-size: 20px;
                        margin-bottom: .3rem;
                    }
              }
              .lists{
                  li{
                      padding: .5rem 0;
                      list-style: none;
                        transition: .3s ease-in;

                      a{
                          display: block;
                          color: $light_text_color;
                          text-decoration: none;
                      }
                  }
              }
          }
        }
    }


    &__info{
        display: flex;
        padding: 4rem 0;
        &-left{
            flex: 1;
            display: flex;
            justify-content: space-between;

            .logo{
               img{
                width: 70px;
                height: 55px;
               }
            }
            .content{
                padding-left: 1rem;
                p{
                    width: 90%;
                    color:  $light_text_color;
                    line-height: 2;
                }
            }
        }

        

        &-right{
            flex: 1;
            display: flex;
            justify-content: flex-end;


            form{
                .heading{
                    padding-bottom: 2rem;
                    p{
                        color: $light_text_color;
                    }
                }
                .inputs{
                    input{
                        outline: 0;
                        border: 1px solid #fff;
                        padding: 1.2rem 4rem;
                        background:transparent;
                        border-bottom-left-radius: 5px;
                        border-top-left-radius: 5px;
                        font-size: 1rem;
                        color: #fff;
                    }

                    button{
                        border: none;
                        outline: none;
                        padding: 1.4rem 2rem;
                        color: #0F1C49;
                        font-size: 14px;
                        text-align: center;
                        border-bottom-right-radius: 5px;
                        border-top-right-radius: 5px;
                            transition: .3s ease-out;
                            display: inline-block;
                            margin-left: -1px;
                        &:hover{
                            background: #0F1C49;
                            color: #ffff;
                        }
                    }
                }
            }
        }
    }
}


.footer__end{
    text-align: center;
    padding: 2rem 0;
    background: #103365;
    p{
        color: $light_text_color;
        a{
            color: #fff;
            text-decoration: none;
            display: inline-block;
            padding-left: 1rem;
        }
    }
}

