.hero{
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    height: 400px;
    background-image: url("https://res.cloudinary.com/everich1/image/upload/v1602494245/hopital%20project/Img-Hero_bxf9tb.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
