.btn{
    display: block;
    outline: none;
    transition: background-color .3s ease-in;
    cursor: pointer;
}

// Button sizes

.btn__small{
    padding: .8rem 2.5rem;
}

.btn__medium{
    padding: 1.4rem 3.5rem;
}

.btn__large{
    padding: 1.8rem 4rem;
}


.btn__mobile{
    width: 80%;
    @extend %auto_margin;
    padding: 1rem;
    text-align: center;
}



// button colors


.btn__primary{
    background: $primary_color;
    color: #fff;
    &:hover{
        background: #2ae584;
    }
}


.btn__secondary{
    background:$secondary_color;
    color: #fff;
    &:hover{
        background: lighten($secondary_color, 70);
    }
}

.btn-normal__color{
    background: none;
}



// button styles

.btn-normal__style{
    outline: none;
}

.btn-primary__outline{
    border: 1px solid $primary_color;
    color: $primary_color;
}

.btn-secondary__outline{
    border: 1px solid $primary_color;
    color: $secondary_color;
}


// button shapes

//     const BTN_SHAPES = ['btn-normal__shape','btn__rounded','btn__curved']
.btn__normal__shape{
    border: none;
}

.btn__rounded{
    border-radius: 2rem;
}

.btn__curved{
    border-radius: 7px;
}