.nav{
border: 1px solid red;

    &__container{
       height: 80px;
        @extend %flex_sb;
        padding: 1.5rem 0;
    }


    .logo{
        height: 90%;
    }


    &__lists{
        @extend %flex_sb;

        .nav__list{
            padding: 1rem;
            a{
                color: #fff;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}


@media (max-width:940px){
    .nav{        
        border: none;
            &__container{
                height: auto;
                display: block;
            }
            &__lists{        
                display: block;
                text-align: center;
            }

            .btn{
                text-align: center;
                margin-top: 1rem;
            }
        }
}