.about{
    margin: 6rem 0;
    padding-bottom: 4rem;

    &__content{
        display: flex;
        justify-content: space-between;
        align-content: center;
        border-bottom: 1px solid $light_text_color;
       
        .text__content{
            flex: 1;
            margin-bottom: 5rem;
            .heading{
                padding-bottom: 2.5rem;
                p{
                    font-size: 2rem;
                    color: $secondary_color;
                }
            }

            .content{
                p{
                    color: $light_text_color;
                    padding-bottom: 2rem;
                    line-height: 1.8;
                }
            }
        }

        .cta{
            flex: 1;
            padding: 1rem 2rem;
            background:#F8FBFC;
            margin-bottom: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            a{
                display: block;
                padding: 1.2rem;
                width: 100%;
                background: #09A4D8;
                color: #fff;
                text-align: center;
                margin: 1rem 0;
                text-decoration: none;
                border-radius: 3px;
            }
        }
    }
}